/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2013.12.12., 18:02:46
    Author     : arpi
*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  height: 100%;
}

article {
  width: 600px;
  margin: 80px auto;
}

h1 {
  font-size: 1.6em;
}

p {
  margin-bottom: 40px;
}

div.new-line {
  display: block;
  clear: both;
  margin-bottom: 20px;
  padding: 3px 5px;
  background: -webkit-repeating-linear-gradient(top,rgb(242, 245, 247) 0%,rgb(246, 248, 249) 98.9%,rgb(188, 202, 211) 99%);
  background: repeating-linear-gradient(to bottom,rgb(242, 245, 247) 0%,rgb(246, 248, 249) 98.9%,rgb(188, 202, 211) 99%);
}

.csstooltip {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.css-tooltip {
  display: none;
  /*background: -webkit-repeating-linear-gradient(top,rgb(226, 226, 226) 0%,rgb(254, 254, 254) 100%);
  background: repeating-linear-gradient(to bottom,rgb(226, 226, 226) 0%,rgb(254, 254, 254) 100%);*/
  background: rgb(226, 226, 226);
  background: -webkit-repeating-linear-gradient(top,rgb(226, 226, 226) 0%,rgb(255, 255, 255) 50%,rgb(226, 226, 226) 100%);
  background: repeating-linear-gradient(to bottom,rgb(226, 226, 226) 0%,rgb(255, 255, 255) 50%,rgb(226, 226, 226) 100%);
  background: #fff;
  color: rgb(50,50,50);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 11px;
  line-height: 14px;
  z-index: 100;
  /*min-width: 120%;
  left: -20%;*/
  font-style: normal;

  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  backface-visibility: hidden;

}


@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88832902');
  src: url('../font/fontello.eot?88832902#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?88832902') format('woff'),
    url('../font/fontello.ttf?88832902') format('truetype'),
    url('../font/fontello.svg?88832902#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88832902#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-info-circled:before { content: '\e800'; } /* '' */